<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mljr.gps.mapper.SyRoleButtonMapper" >
  <resultMap id="BaseResultMap" type="com.mljr.gps.entity.SyRoleButtonKey" >
    <id column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
    <id column="BUTTON_ID" property="buttonId" jdbcType="VARCHAR" />
    <id column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.mljr.gps.entity.SyRoleButtonKey" >
    delete from sy_role_button
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
      and BUTTON_ID = #{buttonId,jdbcType=VARCHAR}
      and ITEM_ID = #{itemId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mljr.gps.entity.SyRoleButtonKey" >
    insert into sy_role_button (ROLE_ID, BUTTON_ID, ITEM_ID
      )
    values (#{roleId,jdbcType=INTEGER}, #{buttonId,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mljr.gps.entity.SyRoleButtonKey" >
    insert into sy_role_button
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="buttonId != null" >
        BUTTON_ID,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="buttonId != null" >
        #{buttonId,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>